<!DOCTYPE html>
{% extends "mof_network/base.html" %}
{% block body_block%}
<div class="jumbotron">
    <h2 class="display-4">Made@UB</h2>
    <h2>Fusing of Data</h2>
    <h4>A web portal for knowledge discovery in database associated with a broad range technological and social issues that are influenced by materials science</h4>
    <h4>Made@UB an unparalleled compilation of neural data, provides an interface to graphically navigate this data and the opportunity to achieve never before realized conclusions about the living human brain.</h4>
    <p class="lead"><a href="https://corebuffalo.aws.hubzero.org/materials-data-laboratory">Materials Data Engineering Laboratory (MaDE@UB)</a></p>
    <hr class="my-4">
    <h4>Transforming Databases from Library to Serve as a Value-added Materials Data Laboratory</h4>
    <p>Made@UB is a web portal for <strong>k</strong>nowledge <strong>d</strong>iscovery in <strong>d</strong>atabases (KDD) associated with a broad range of materials science, which enhances the functionalities of databases from one of search and retrieval to instead achieve knowledge discovery across a variety of materials platforms.
        This cyberinfrastructure is organized in a series of data building blocks, which includes the tool kit for a large variety
    of informatic methods, computational and experimental literature based datasets, and a reference /bibliography to host the provinence associated with a variety of problems.</p>
    <p><em>We welcomes data, literature to linked to our host.</em></p>
    <h4>Made@UB</h4>
    <ul>
        <li>is the materials platform organized in four genre of forms.</li>
        <li>is not simply to retrieve data from database, but rather to process and retrieve data from database.</li>
        <li>aims at converging to disciplines, ranging from physical sciences, life sciences and social sciences, to address materials science problems.</li>
        <li>has the functionality that beyond simple searching and retrieval of databases.</li>
        <li>serves as a platform that guides users on informatic technique that connect diverse genres of data.</li>
        <li>fuses diverse terms in materials data.</li>
        <li>information fusing platform for knowledge discovery in databases.</li>
        <li>synergistic data platform for kdd effects to cross disciplines of communities.</li>
        <li>Designed to data contributions.</li>
    </ul>
    <p>The website host large bibliography of datasets and diverse knowledge of databases and various visualization methods for processing and integrating data.</p>
    <p>The philosophy, what user can bring about it.</p>
</div>
{% endblock %}