<!DOCTYPE html>
{% extends "mof_network/base.html" %}
{% block body_block%}
<div class="jumbotron">
    <h2 class="display-4">Materials Data Engineering Laboratory</h2>
    <h4>A web portal for knowledge discovery in database associated with a broad range technological and social issues that are influenced by materials science</h4>
    <button type="button" class="btn btn-primary btn-lg "><a class="link-CoRE" href="https://corebuffalo.aws.hubzero.org/">MaDE@UB</a></button>
    <button type="button" class="btn btn-secondary btn-lg"><a class="link-CoRE" href="https://corebuffalo.aws.hubzero.org/materials-informatics-toolkit/data-connectivity-module">Data Connectivity Module</a></button>
    <p class="lead"></p>
    <hr class="my-4">
    <h4>Transforming Databases from Library to Serve as a Value-added Materials Data Laboratory</h4>
    <p>MaDE@UB is a synergistic data platform for <strong>k</strong>nowledge <strong>d</strong>iscovery in <strong>d</strong>atabases (KDD), applicable to a diverse genre of data associated with technological and social issues in material science.</p>
    <p>This cyber-infrastructure provides access to a series of <strong>d</strong>ata <strong>i</strong>nfrastructure <strong>b</strong>uilding <strong>b</strong>locks (DIBBs) which include a toolkit built on materials informatics methods, a bibliography of provenance data, and which welcomes contributions of data and tools to apply KDD methods to increase the dimensionality of information.  MaDE@UB enhances the functionalities of databases from one of search and retrieval to instead achieve Knowledge Discovery across a variety of material platforms (ie. from data library to data laboratory), and aims to converge disciplines ranging from physical sciences, life sciences and social sciences.</p>
</div>
{% endblock %}